// Variables
@import './variables';

// Scaffold
@import './font';
@import './base/_bootstrap';
@import './global/layout';
@import './base/typography';

// Modules
@import './nav/main';
@import './landing/main';
@import './services/main';
@import './people/main';
@import './clients/main';
@import './projects/main';
@import './contact/main';
@import './footer/main';
