$brand-grey:          #9d9d9c;
$brand-orange:        #db4c22;
$brand-blood-orange:  #a0310e;

$bg-grey:             #958799;
$bg-purple:           #39303a;
$bg-dark-purple:      #252026;
$bg-stripe-white:     #f6f6f6;
$bg-white:            #ededed;
