{{> head}}

  {{>nav}}

  <article>
    {{> cs-header caseId=3}}

    {{> cs-content
        title='Neocity'
        subtitle='Client: Neocity'
        intro='Neocity est une jeune start-up française qui propose aux mairies un outil de communication global avec leurs citoyens.'
        cta=cta-1
        content='<p>Nous avons réalisé une application complète pour Neocity: une application mobile pour Android et Apple ainsi qu’un back-end qui envoie la donnée vers les applications et qui réceptionne les envois des citoyens (question à la mairie, déclaration d’un sinistre...).</p><p>L’application est prête à suivre Neocity dans son évolution: lorsque de nouvelles mairies seront ajoutées à l’offre Neocity, ils pourront ajouter toute la donnée nécessaire depuis leur back-office et ainsi scaler horizontalement.</p>'
        skills-title='What we did'
        skills=skills-3
    }}

    {{> cs-footer
        caseId=3
        prevCS=prev-3
        nextCS=next-3
        footer-type-video=true
    }}
  </article>

{{!-- Bottom scripts and GA --}}
{{> bottom}}
