{{> head}}

  {{>nav}}

  <article>
    {{> cs-header caseId=1}}

    {{> cs-content
        title='hiring@ticket'
        subtitle='Client: Ticket for Change'
        intro='Ticket for Change est une startup française utilisant le pouvoir de l’entrepreneuriat et de l’innovation pour résoudre les plus grands défis sociaux et environnementaux de notre temps. Ils organisent un “Tour de France” de l’entrepreneuriat social dans lequel 50 jeunes parcourent la France à la recherche de l’idée de leur rêves.'
        cta=cta-1
        content='<p>Le nombre de candidatures reçues pour leur “Tour de France” croît de manière exponentielle, leur gestion via des fichiers excel ne fonctionnait plus. Ticket for Change est venu voir Blaaast afin d’obtenir une solution pour mieux gérer ce flux de candidatures venant du monde entier.</p><p>Le challenge principal de ce projet était de définir la donnée necessaire pour noter et choisir les participants de ce “Tour de France”. Nous avons travaillé de manière étroite avec le client afin de définir les compétences necessaires pour que les participants choisis correspondent au programme.</p><p>Ce travail de recherche nous a permi de créer une solution sur mesure qui a fourni à Ticket for Change exactement ce dont ils avaient besoin pour être focalisé sur le fait de choisir les meilleurs participants: une interface très accessible pour les candidats au “Tour de France” et un back-office puissant pour les correcteurs.</p><p>Nous avons utilisé Node.js et Ember.js, deux technologies web dominantes, pour fournir une experience utilisateur fluide couplée avec de puissants algorythme et une sécurité optimale.</p><p>Notre client avait un accès complet à toute la donnée en temps réel grâce à des exports de la base de données vers des Feuilles de calcul Google (qui donnait le classement des candidats au fur et à mesure des notations ainsi que les candidatures pas encore notées).</p><p>Au final, 1200 comptes ont été créés et Ticket for Change a pu facilement naviguer dans toutes les données récoltées pour choisir ses 50 participants très particuliers !</p>'
        skills-title='What we did'
        skills=skills-1
    }}

    {{> cs-footer
        caseId=1
        nextCS=next-1
        footer-type-image=true
    }}
  </article>

{{!-- Bottom scripts and GA --}}
{{> bottom}}
