<section id="contact" class="contact-slide">
  <div class="container">
    <h1 class="contact-title title-center">Contacts</h1>
    <ul class="contact-list">
      <li>
        <i class="contact-list__icon fa fa-envelope-o"></i>
        <a class="contact-list__item" href="mailto:sofian@blaaast.co">sofian@blaaast.co</a>
      </li>
      <li>
        <i class="contact-list__icon fa fa-phone"></i>
        <a class="contact-list__item" href="tel:+33625320678">(+33) 6.25.32.06.78</a>
      </li>
      <li>
        <i class="contact-list__icon fa fa-twitter"></i>
        <a class="contact-list__item" href="http://www.twitter.com/blaaast_co" target="_blank">@blaaast_co</a>
      </li>
    </ul>
  </div>
</section>
