<section class="footer-slide">
  <div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12">

      <p class="footer-logo">
        <img src="/build/img/blaaast-logo-footer.png">
      </p>
      <p class="footer-text">
        BLAAAST &copy; 2015. Tous droits réservés.
        <a href="" id="modal-copyright-btn" class="hidden-xs footer-legal" data-toggle="modal" data-target="#modal-copyright">Mentions Légales</a>
      </p>

      <div id="modal-copyright" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" style="display: none;">
        <div class="modal-backdrop fade"></div>
        <div class="modal-dialog">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close js-modal-legal-close" data-dismiss="modal" aria-hidden="true">×</button>
              <h2 class="modal-title" id="m-copyright">MENTIONS LEGALES</h2>
            </div>
            <div class="modal-body font-color-black">

              <h3>Editeur</h3>
              <p class="legal">Blaaast - Marque déposée
              SIRET 809683337
              APE 7022 Z
              Blaaast SAS
              41, rue Coquillière, 75001 Paris
              Tel. 06 25 32 06 78
              Web: www.blaaast.co
              E-mail: sofian [at] blaaast.co</p>
              <hr class="min-inv">

              <h3>Réalisation</h3>
              <p class="legal">Ce site a été développé par Blaaast. Le design a été réalisé par nos partenaires de l’agence Black Beans SAS, dont le siège social est situé au 1, rue de Normandie, 75003 Paris.</p>
              <hr class="min-inv">

              <h3>Directeur de la publication</h3>
              <p class="legal">Sofian Meguellati</p>
              <hr class="min-inv">

              <h3>Contenu du site</h3>
              <p class="legal">Le site www.blaaast.co est la propriété de Blaaast.
              Blaaast se réserve le droit de modifier à tout moment, sans préavis, le contenu du site.</p>
              <hr class="min-inv">

              <h3>Droits d'auteur et reproduction</h3>
              <p class="legal">La structure générale ainsi que les logiciels, textes, bases de données, images animées ou non, savoir-faire et tous les autres éléments composant le site sont la propriété exclusive de Blaaast.
              Toute représentation totale ou partielle de ce site par quelle que personne que ce soit, sans l'autorisation expresse de Blaaast est interdite et constituerait une contrefaçon sanctionnée par les articles L. 335-2 et suivants du Code de la propriété intellectuelle.
              Tout contrevenant s’exposerait à une peine de 3 ans d’emprisonnement et 300.000€ d’amende.
              Les logos, visuels et marques présents sur ce site sont la propriété de leur détenteur respectif.</p>
              <hr class="min-inv">

              <h3>Informatique et libertés</h3>
              <p class="legal">Conformément à l'article 34 de la Loi n°78-17 Informatique et Liberté du 06/01/1978 , vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent.
              Pour exercer ce droit d'accès, adressez-vous par écrit à Blaaast.
              Les informations recueillies par le biais des formulaires ne seront pas divulguées à des personnes tiers.</p>
              <hr class="min-inv">

              <h3>Liens hypertexte</h3>
              <p class="legal">Toute création de lien hypertexte pointant vers le site www.blaaast.co est libre.
              L'existence d'un lien hypertexte du site www.blaaast.co vers un autre site ne constitue pas une validation de ce site ou de son contenu, Blaaast ne peut exercer de contrôle sur le contenu de ces sites et sa responsabilité ne saurait être engagée quant aux informations, opinions et recommandations formulées sur ces sites tiers.</p>
              <hr class="min-inv">

              <h3>Loi applicable</h3>
              <p class="legal">Les présentes mentions légales sont régies par le droit français. Les juridictions françaises seront compétentes en cas de litige afférent à l’utilisation du site. © Blaaast 2015 – Tous droits réservés.</p>
              <hr class="min-inv">

              <p><strong>Email </strong><a href="mailto:sofian@blaaast.co">sofian@blaaast.co</a><br>
              <strong>Website </strong><a href="http://www.blaaast.co" target="_blank">www.blaaast.co</a></p><br>

              <button type="button" class="btn btn-default js-modal-legal-close" data-dismiss="modal">Retour</button>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
