<!-- Add your site or application content here -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
        <p class="nav-logo">Blaaast</p>
      </a>
    </div>

    <div id="navbar" class="navbar-right collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#landing" class="js-nav-link">Home</a></li>
        <li><a href="#services" class="js-nav-link">Services</a></li>
        <li><a href="#team" class="js-nav-link">Equipe</a></li>
        <li><a href="#projects" class="js-nav-link">Projets</a></li>
        <li><a href="#clients" class="js-nav-link">Références</a></li>
        <li><a href="#contact" class="js-nav-link">Contact</a></li>
        <li>
          <a class="navbar-twitter" href="http://www.twitter.com/blaaast_co" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
