.projects-slide {
  .row {
    margin: 0;
  }
}

.projects-title {
  color: #000;
  margin-bottom: 50px;
}

.projects-item {
  position: relative;
  text-align: center;
}

.project-item__imagewrap {
  margin: 0;
  -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.10);
  box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.10);
}

.projects-item__img {
  max-width: 100%;
}

.projects-item__title {
  font-size: 36px;
  color: #fff;
}

.projects-skill {
  color: #fff;
}

.projects-item__cta {
  text-transform: uppercase;
}

.projects-overlay {
  position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    left: 15px;
  color: $bg-grey;
  background: rgba(227,73,43,0.90);
  opacity: 0;
  @include transition(all .2s ease-in-out);

  &:hover {
    opacity: 1;

    .projects-overlay__content {
      -webkit-transform: translateY(-50%) scale(1);
          -ms-transform: translateY(-50%) scale(1);
              transform: translateY(-50%) scale(1);
    }
  }
}

.projects-overlay__content {
  color: $brand-orange;
  position: absolute;
    top: 50%;
  width: 100%;
  padding: 30px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-transform: translateY(-50%) scale(.2);
      -ms-transform: translateY(-50%) scale(.2);
          transform: translateY(-50%) scale(.2);
  @include transition(all .3s ease-out);
}

.projects-overlay__seemore {
  // color, bg, border
  @include button-variant(#fff, $brand-orange, $brand-blood-orange);
}
