.projects-slide {
  .row {
    margin: 0;
  }
}

.projects-title {
  color: #000;
}

.projects-item {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  overflow: hidden;
}

.project-item__imagewrap {
  margin: 0;
  -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.10);
  box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.10);
}

.projects-item__img {
  max-width: 100%;
}

.projects-item__title {
  font-size: 36px;
  color: #fff;
}

.projects-skill {
  color: #fff;
}

.projects-item__cta {
  text-transform: uppercase;
}

.projects-overlay {
  position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    left: 15px;
  color: $bg-grey;
  background: rgba(227,73,43,0.90);

  @include transition(all .5s cubic-bezier(0.000, 0.630, 0.190, 0.985));

-webkit-transition-timing-function: cubic-bezier(0.000, 0.630, 0.190, 0.985);
   -moz-transition-timing-function: cubic-bezier(0.000, 0.630, 0.190, 0.985);
     -o-transition-timing-function: cubic-bezier(0.000, 0.630, 0.190, 0.985);
        transition-timing-function: cubic-bezier(0.000, 0.630, 0.190, 0.985);

  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);

  .projects-item:hover & {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
  }
}

.projects-overlay__content {
  color: $brand-orange;
  position: absolute;
    top: 50%;
  width: 100%;
  padding: 30px;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.projects-overlay__seemore {
  // color, bg, border
  @include button-variant(#fff, $brand-orange, $brand-blood-orange);
}
