<section class="case-study-footer case-study-footer-{{caseId}}">

</section>

<section class="cs-nav">
  <div class="container clearfix">
    {{#if prevCS}}
      <a href="{{prevCS}}" class="pull-left">Previous case study</a>
    {{/if}}
    {{#if nextCS}}
      <a href="{{nextCS}}" class="pull-right">Next case study</a>
    {{/if}}
  </div>
</section>

{{> contact}}

{{> footer}}
