<section class="case-study-header case-study-header-{{caseId}}">
  <div class="container">

    <p>
      <a href="#cs-content" class="landing-arrow js-smooth-link"></a>
    </p>

  </div>
</section>
