.landing-slide {
  background: $brand-orange url(/build/img/svg/monogramme-aaa.svg) 50% 50% no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  position: relative;
}

.landing-logo {
  display: block;
  max-width: 287px;
  position: absolute;
    top: 50%;
    left: 50%;
  margin-top: -55px;
  margin-left: -143px;
}

.landing-arrow {
  position: absolute;
    bottom: 50px;
    left: 50%;
  margin-left: -32px;
  width: 64px;
  height: 64px;
  background: transparent url(/build/img/arrow.svg) 0 0 no-repeat;
}
