.navbar-inverse {
  background: $bg-dark-purple;
}

.nav-logo {
  margin: 0;
  padding: 0 3px 0 15px;
  float: left;
  text-indent: -9999px;
  width: 85px;
  height: 60px;
  background: url(../../img/logoheader.png) 15px 50% no-repeat;
}

.navbar-toggle {
  margin-top: 13px;
  margin-bottom: 13px;
}

.navbar-nav {
  text-transform: uppercase;

  > li {
    font-family: $headings-font-family;
  }
  .navbar-inverse & > li > a {
    color: $bg-grey;
    font-size: 26px;
    padding: 20px;
  }
}

.nav-twitter {
  text-indent: -9999px;
  background: url(../../img/twitter.png) 50% 50% no-repeat;
  background-size: 40px auto;
}
