.navbar-fixed-top {
  z-index: 3;
  -webkit-transform: translateZ(0);
}

.navbar-inverse {
  background: #000;
  border: none;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0 ,0, 0, .15);
          box-shadow: 0px 1px 3px 0px rgba(0 ,0, 0, .15);

  .navbar-toggle {
    border-color: transparent;
  }
}

.nav-logo {
  margin: 0;
  padding: 0 3px 0 15px;
  float: left;
  text-indent: -9999px;
  width: 85px;
  height: 50px;
  background: url(../../img/monogramme-blaaast.png) 15px 50% no-repeat;
}

.navbar-toggle {
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar-collapse.collapsing,
.navbar-collapse.in {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0 ,0, 0, .15);
          box-shadow: 0px 1px 3px 0px rgba(0 ,0, 0, .15);

  li {

    &.active {
      border-color: $brand-primary;

      .navbar & a {
        color: #fff;
      }

      &:hover {
        a {
          background-color: $brand-primary;
        }
      }
    }

    &.active a,
    &:hover a,
    &:focus a,
    &:active a {
      background-color: $brand-primary;
    }

    .navbar & > a {
      text-align: center;
      color: #000;
    }
  }
}

.navbar-nav {
  // text-transform: uppercase;
  margin: 0;

  > li {
    font-family: $headings-font-family;

    .navbar-right & > a {
      color: #fff;
    }
  }
  .navbar-inverse & > li {

    &.active {
      border-color: $brand-primary;

      &:hover {

        a {
          background-color: $brand-primary;
        }
      }
    }

    &.active a,
    &:hover a,
    &:focus a,
    &:active a {
      background-color: $brand-primary;
    }

    > a {
      font-size: 26px;
    }
  }
  .navbar.navbar-inverse & > li > .navbar-twitter {
    padding: 12px;
    color: #55acee;
  }
}
