.nav-main {
  z-index: 2;
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
  background-color: $bg-dark-purple;
}

.nav-logo {
  margin: 0;
  padding: 0 3px;
  float: left;
  text-indent: -9999px;
  width: 70px;
  height: 50px;
  background: url(../../img/logoheader.png) 50% 50% no-repeat;
}

.nav-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}

.nav-item {
  display: inline-block;
  color: $bg-grey;
  padding: 15px 5px;
  text-transform: uppercase;
}
