.services-slide {
  background-color: #fff;
  overflow: hidden;
}

.services {
  list-style: none;
  // margin: 0;
  padding: 0;
  // margin: 50px auto 50px;
}

.services__title {
  // text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
  color: #000;
  font-size: 50px;
  margin: 40px 0 0;
}

.services__item {
  text-align: center;
  padding: 8px;
  max-width: 320px;
  margin: 0 auto;
  height: 50%;
  color: $bg-grey;
}

.services__item__img {
  width: 129px;
  padding-bottom: 20px;
}

.services__item__title {
  color: #000;
  margin: 0;
  // text-transform: uppercase;
  margin-bottom: 5px;
}

.services__item__body {
  margin-top: 0;
  color: #7d7d7d;
  line-height: 24px;
}

.services__item__img {
  float: left;
  width: 87px;
  max-width: 100%;
  margin-right: 20px;
}

.services__item__content {
  overflow: hidden;
}

@media (min-width: 450px) {
  .services__item__img {
    width: 140px;
  }
}

@media (min-width: $screen-sm-min) {
  .services__item {
    max-width: auto;
    text-align: center;
  }

  .services__item__name {
    margin-top: 20px;
  }

  .services__item__img {
    float: none;
    margin-right: 0;
    width: 140px;
  }
}
