<article>

  <section id="landing" class="landing-slide">
    <div class="container">

      <img src="/build/img/logo-blaaast.svg" class="landing-logo" width="287"
           onerror="this.onerror=null; this.src = '/build/img/logo-blaaast.png'">

      <p>
        <a href="#services" class="landing-arrow js-smooth-link"></a>
      </p>

    </div>
  </section>

  <section id="services" class="services-slide">
    <div class="container">

      <h1 class="title-center">Services</h1>

      <div class="people__list row">

        <div class="people__item col-sm-3 clearfix">
          <img src="/build/img/picto-services/new-marketing.svg" class="services__item__img">
          <div class="services__item__content">
            <h2 class="services__item__title">New Marketing</h2>
            <p class="services__item__body">User Acquisition <br> Social Media <br> Digital PR</p>
          </div>
        </div>

        <div class="people__item col-sm-3 clearfix">
          <img src="/build/img/picto-services/tech-design.svg" class="services__item__img">
          <div class="services__item__content">
            <h2 class="services__item__title">Tech &amp; Design</h2>
            <p class="services__item__body">Branding &amp; Web Design <br> Websites &amp; Apps<br> E-commerce</p>
          </div>
        </div>

        <div class="people__item col-sm-3 clearfix">
          <img src="/build/img/picto-services/training.svg" class="services__item__img">
          <div class="services__item__content">
            <h2 class="services__item__title">Training</h2>
            <p class="services__item__body">Digital Transformation <br> Creative Workshops <br> Twitter <br>
          </div>
        </div>

        <div class="people__item col-sm-3 clearfix">
          <img src="/build/img/picto-services/positive-impact.svg" class="services__item__img">
          <div class="services__item__content">
            <h2 class="services__item__title">Positive Impact</h2>
            <p class="services__item__body">Open Source Projects <br> Social Businesses</p>
          </div>
        </div>

      </div>

    </div>

  </section>

  <section id="team" class="people-slide">
    <div class="container">
      <h1 class="title-center">Equipe</h1>

      <div class="people__list">

          <div class="row">

            <div class="people__item col-sm-3 clearfix">
              <img src="/build/img/team/sofian.jpg" class="people__pic">
              <h2 class="people__item__name">Sofian</h2>
              <p class="people__item__body">Co-founder &amp; CEO</p>
              <p class="people__item__twitter"><a href="https://twitter.com/MeguellatiSoso" target="_blank">@MeguellatiSoso</a></p>
            </div>

            <div class="people__item col-sm-3 clearfix">
              <img src="/build/img/team/tom.jpg" class="people__pic">
              <h2 class="people__item__name">Tom</h2>
              <p class="people__item__body">Co-founder &amp; CTO</p>
              <p class="people__item__twitter"><a href="https://twitter.com/thaume" target="_blank">@thaume</a></p>
            </div>

            <div class="people__item col-sm-3 clearfix">
              <img src="/build/img/team/emmanuel.png" class="people__pic">
              <h2 class="people__item__name">Emmanuel</h2>
              <p class="people__item__body">Art Director</p>
              <p class="people__item__twitter"><a href="https://twitter.com/emmnlr" target="_blank">@emmnlr</a></p>
            </div>

            <div class="people__item col-sm-3 clearfix">
              <img src="/build/img/team/regis.jpg" class="people__pic">
              <h2 class="people__item__name">Regis</h2>
              <p class="people__item__body">Workshop facilitator</p>
              <p class="people__item__twitter"><a href="https://twitter.com/Social_Rchitect" target="_blank">@Social_Rchitect</a></p>
            </div>

          </div>

        </div>

      </ul>
    </div>
  </section>

  <section id="projects" class="projects-slide">
    <div class="container">

      <h1 class="projects-title title-center">Projets</h1>

      <div class="row">

        <div class="col-sm-6 projects-item">
          <p class="project-item__imagewrap">
            <img class="projects-item__img" src="/build/img/projects/youthup.jpg">
          </p>
          <div class="projects-overlay">
            <div class="projects-overlay__content">
              <h2 class="projects-item__title">#youthup</h2>
              <p class="projects-skill">Global european communication campaign and website creation</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 projects-item">
          <p class="project-item__imagewrap">
            <img class="projects-item__img" src="/build/img/projects/grdf-day.jpg">
          </p>
          <div class="projects-overlay">
            <div class="projects-overlay__content">
              <h2 class="projects-item__title">GrDF CM day</h2>
              <p class="projects-skill">Journée de formation Community Manager</p>
            </div>
            <p class="projects-item__cta">
              <a href="/case-studies-2">Découvrir le case study</a>
            </p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-6 projects-item">
          <p class="project-item__imagewrap">
            <img class="projects-item__img" src="/build/img/projects/ticketfchange.jpg">
          </p>
          <div class="projects-overlay">
            <div class="projects-overlay__content">
              <h2 class="projects-item__title">Ticket for Change</h2>
              <p class="projects-skill">Développement de l'application pour le recrutement du tour Ticket for Change</p>
            </div>
            <p class="projects-item__cta">
              <a href="/case-studies-1">Découvrir le case study</a>
            </p>
          </div>
        </div>

        <div class="col-sm-6 projects-item">
          <p class="project-item__imagewrap">
            <img class="projects-item__img" src="/build/img/projects/grdf-digitall.jpg">
          </p>
          <div class="projects-overlay">
            <div class="projects-overlay__content">
              <h2 class="projects-item__title">GrDF</h2>
              <p class="projects-skill">Accompagnement d'une communauté de salariés aux usages du digital / Formations Twitter</p>
              <p class="projects-skill">#DigitALL est un espace de réflexions pour mieux comprendre le monde numérique</p>
            </div>
            <p class="projects-item__cta">
              <a target="_blank" href="https://storify.com/chris_angel31/digitall-5">Découvrir le case study</a>
            </p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-6 projects-item">
          <p class="project-item__imagewrap">
            <img class="projects-item__img" src="/build/img/projects/neocity.jpg">
          </p>
          <div class="projects-overlay">
            <div class="projects-overlay__content">
              <h2 class="projects-item__title">Neocity</h2>
              <p class="projects-skill">Développement de l'application mobile (iOS + Android)</p>
              <p class="projects-skill">Diffusez en temps réel toute l’information locale auprès de vos citoyens</p>
            </div>
            <p class="projects-item__cta">
              <a href="/case-studies-3">Découvrir le case study</a>
            </p>
          </div>
        </div>

        <div class="col-sm-6 projects-item">
          <p class="project-item__imagewrap">
            <img class="projects-item__img" src="/build/img/projects/douanes.jpg">
          </p>
          <div class="projects-overlay">
            <div class="projects-overlay__content">
              <h2 class="projects-item__title">Douanes de France</h2>
              <p class="projects-skill">Accompagnement dans le développement d'un prototype web</p>
            </div>
            <!-- <p class="projects-item__cta">
              <a href="">Découvrir</a>
            </p> -->
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-sm-6 projects-item">
          <p class="project-item__imagewrap">
            <img class="projects-item__img" src="/build/img/projects/rci.jpg">
          </p>
          <div class="projects-overlay">
            <div class="projects-overlay__content">
              <h2 class="projects-item__title">RCI</h2>
              <p class="projects-skill">Accompagnement dans le développement d'un prototype< web/p>
            </div>
            <!-- <p class="projects-item__cta">
              <a href="https://www.youtube.com/watch?v=cTxYQKmz-dw" target="_blank">Découvrir</a>
            </p> -->
          </div>
        </div>

        <div class="col-sm-6 projects-item">
          <p class="project-item__imagewrap">
            <img class="projects-item__img" src="/build/img/projects/player.jpg">
          </p>
          <div class="projects-overlay">
            <div class="projects-overlay__content">
              <h2 class="projects-item__title">PLAYER</h2>
              <p class="projects-skill">Création d'une landing page, d'un site web et d'un blog</p>
            </div>
            {{!-- <p class="projects-item__cta">
              <a href="http://www.player.paris" target="_blank">Découvrir</a>
            </p> --}}
          </div>
        </div>

      </div>

    </div>

  </section>

  <section id="clients" class="clients-slide">
    <div class="container">
      <h1 class="title-center">Références</h1>
      <div class="clients-list">

        <div class="row">

          <div class="col-sm-6">
            <div class="row">
              <a href="http://accelerate.numa.paris/" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-05-lecamping.png" alt="logo du Camping" class="clients-logo" srcset="/build/img/clients/ref-05-lecamping.png 207w">
              </a>
              <a href="http://www.ife.ee/fr/" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-08-institutfrancais.png" alt="logo de l'Institut Français" class="clients-logo" srcset="/build/img/clients/ref-08-institutfrancais.png 207w">
              </a>
              <a href="http://www.grdf.fr/" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-15-grdf.png" alt="logo de GrDF" class="clients-logo" srcset="/build/img/clients/ref-15-grdf.png 207w">
              </a>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="row">
              <a href="http://www.sensecube.cc/" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-06-sensecube.png" alt="logo du SenseCube" class="clients-logo" srcset="/build/img/clients/ref-06-sensecube.png 207w">
              </a>
              <a href="https://www.numa.paris/NUMA-Rise" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-13-numa.png" alt="logo du NUMA" class="clients-logo" srcset="/build/img/clients/ref-13-numa.png 207w">
              </a>
              <a href="http://schoolab.numa.paris/Schoolab-Starter" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-19-schoolab.png" alt="logo du Schoolab" class="clients-logo" srcset="/build/img/clients/ref-19-schoolab.png 207w">
              </a>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-sm-6">
            <div class="row">
              <a href="http://neocity.fr/" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-18-neocity.png" alt="logo de Neocity" class="clients-logo" srcset="/build/img/clients/ref-18-neocity.png 207w">
              </a>
              <a href="http://player.paris/" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-17-player.png" alt="logo de Player" class="clients-logo" srcset="/build/img/clients/ref-17-player.png 207w">
              </a>
              <a href="http://www.fruitrouge.com/" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-09-fruitrouge.png" alt="logo de Fruitrouge" class="clients-logo" srcset="/build/img/clients/ref-09-fruitrouge.png 207w">
              </a>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="row">
              <a href="http://www.paperchain.co/" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-04-paperchain.png" alt="logo de Paperchain" class="clients-logo" srcset="/build/img/clients/ref-04-paperchain.png 207w">
              </a>
              <a href="http://www.auticiel.com/" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-01-auticiel.png" alt="logo de Auticiel" class="clients-logo" srcset="/build/img/clients/ref-01-auticiel.png 207w">
              </a>
              <a href="http://senseschool.fr/" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-02-senseschool.png" alt="logo du SenseSchool" class="clients-logo" srcset="/build/img/clients/ref-02-senseschool.png 207w">
              </a>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-sm-6">
            <div class="row">
              <a href="http://www.rcibanque.com/" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-21-rci.png" alt="logo de RCI Banque" class="clients-logo" srcset="/build/img/clients/ref-21-rci.png 207w">
              </a>
              <a href="http://www.ticketforchange.org/" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-11-ticketforchange.png" alt="logo de Ticket for Change" class="clients-logo" srcset="/build/img/clients/ref-11-ticketforchange.png 207w">
              </a>
              <a href="http://www.douane.gouv.fr/accueil" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-20-douanes.png" alt="logo des Douanes de France" class="clients-logo" srcset="/build/img/clients/ref-20-douanes.png 207w">
              </a>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="row">
              <a href="http://www.youthforum.org/" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-12-euroyouth.png" alt="logo du European Youth Forum" class="clients-logo" srcset="/build/img/clients/ref-12-euroyouth.png 207w">
              </a>
              <a href="http://www.europacorp.com/" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-07-europacorp.png" alt="logo de Europacorp" class="clients-logo" srcset="/build/img/clients/ref-07-europacorp.png 207w">
              </a>
              <a href="http://www.france-universite-numerique.fr/moocamp-11-janvier-2014-les-ateliers-de-scenarisation.html" alt="logo du Moocamp" class="col-xs-4 clients-item" target="_blank">
                <img src="/build/img/clients/ref-22-ministereeduc.jpg" class="clients-logo" srcset="/build/img/clients/ref-22-ministereeduc.jpg 207w">
              </a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>

  {{> contact}}

  {{> footer}}

</article>
