.people-slide {
  -webkit-background-size: 20px 20px;
  -moz-background-size: 20px 20px;
  background-size: 20px 20px;

  background-color: #2B2B2B;

  h1 {
    color: #fff;
  }
}

.people__list {
  padding: 0 0 80px;
  list-style: none;
}

.people__item {
  margin: 0 auto;
  max-width: 350px;
  padding-bottom: 20px;
  text-align: left;
}

.people__item__name,
.people__item__body {
  color: #fff;
}

.people__item__body {
  font-size: 16px;
  color: #bbb;
}

.people__item__twitter {
  a {
    color: $brand-orange;
  }
}

.people__item__name {
  // text-transform: uppercase;
  margin: 0 0 5px;
}

.people__item__boss {
  color: $brand-orange;
}

.people__pic {
  float: left;
  border-radius: 50%;
  width: 87px;
  max-width: 100%;
  margin-right: 20px;
}

@media (min-width: 450px) {
  .people__pic {
    width: 140px;
  }
}

@media (min-width: $screen-sm-min) {
  .people__item {
    max-width: auto;
    text-align: center;
  }

  .people__item__name {
    margin-top: 20px;
  }

  .people__pic {
    float: none;
    margin-right: 0;
    width: 140px;
  }
}
